* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  display: grid;
  grid-template: 1fr 5fr / 1fr;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.gridHolder {
  width: 90%;
  display: grid;
  gap: 0.5rem;
  grid-template-rows: 1fr/1fr/1fr;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
img {
  width: 150px;
  height: auto;
  border: 2.5px solid black;
  padding: 0.5rem;
  background-color: gray;
  background-clip: border-box;
}
